<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Creacion</title>
</head>
<body>
    <form action="/movies/create" method="post">
        <label for="">Titulo:</label>
        <input type="text" name="title" id="">
        <label for="">Rating:</label>
        <input type="text" name="rating" id="">
        <label for="">Premios:</label>
        <input type="text" name="awards" id="">
        <label for="">Duracion:</label>
        <input type="text" name="length" id="">
        <label for="">Genero</label>
        <select name="genre" id="">
            <% if(genero){ %>
                <% genero.forEach(genre => {%>
                    <option value="<%= genre.id %>"><%= genre.name %> </option>
                <% }) %>
            <% } %>    
        </select>
        <button type="submit">Crear</button>
    </form>
</body>
</html>