<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario de Creacion</title>
</head>
<body>
    <form action="/movies/create" method="post">
        <label for="">Titulo:</label>
        <input type="text" name="" id="">
        <label for="">Rating:</label>
        <input type="text" name="" id="">
        <label for="">Premios:</label>
        <input type="text" name="" id="">
        <label for="">Duracion:</label>
        <input type="text" name="" id="">
        <label for="">Genero</label>
        <select name="genero" id="">
            <% if (movie.genre) { %>
                <% movie.forEach(movies => { %>
                    <option value="<%= movies.genre.id %> "><%= movies.genre.name %> </option>
                <% }) %>
            <% } %>    
        </select>
    </form>
</body>
</html>