<!DOCTYPE html>
<html>
  <head>
    <title>Listado de Peliculas</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="/movies/search" method="post">
      <input type="text" name="title" id="" placeholder="Buscar pelicula">
      <button type="submit">Buscar</button>
    </form>
    <h1>Lista de todas las Peliculas</h1>
    <ul>
    <% for(let i = 0;i < movies.length;i++){ %>
      <li><a href="/movies/detail/<%= movies[i].id %>"><%= movies[i].title %> </a></li>
    <% } %>
    </ul>
    <form action="/movies/creacion" method="get">
      <button type="submit">Crear nueva realcion</button>
    </form>
  </body>
</html>
